# Ignore model weights and cache
model_weights/

# HuggingFace transformers cache
**/transformers_cache/
**/cache/
**/models/

# Python cache
__pycache__/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

.env
